<div class="h-full bg-base-200">
  <app-navbar></app-navbar>
  <div
    class="flex flex-col flex-1 px-4 py-2 bg-base-200"
    *ngIf="user; else loading"
  >
    <span class="text-lg font-semibold">
      Welcome back, {{ user.displayName }}
    </span>

    <div class="mt-10">
      <span>Your boards:</span>

      <div
        class="grid gap-4 mt-2"
        style="grid-template-columns: repeat(auto-fit, minmax(18em, 2fr))"
      >
        <div
          class="card bg-base-100 shadow hover:cursor-pointer hover:scale-105"
          *ngFor="let board of boards | async"
        >
          <div class="card-body p-4">
            <h2 class="card-title">{{ board.name }}</h2>
            <p class="italic font-thin">
              {{ !board.description ? "No description" : board.description }}
            </p>
            <div class="card-actions justify-end">
              <button
                class="btn btn-sm btn-secondary"
                routerLink="/boards/{{ board.id }}"
              >
                View
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="flex items-center justify-center w-100 h-full overflow-hidden">
    <span class="loading loading-spinner loading-lg"></span>
  </div>
</ng-template>
