<div class="flex flex-1 flex-col overflow-hidden">
  <div class="px-4 py-2" *ngIf="board; else loading">
    <div class="flex items-center justify-between w-full">
      <h2 class="text-2xl">{{ board.name }}</h2>
      <div class="flex">
        <div class="avatar-group !overflow-visible">
          <div class="tooltip tooltip-left" [attr.data-tooltip]="user.email" *ngFor="let user of members | async">
            <div class="avatar">
              <span>{{ getUserInitials(user.displayName) }}</span>
            </div>
          </div>
          <label class="avatar hover:cursor-pointer" for="usersModal">
            <span>+</span>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="flex gap-2 mt-4 p-2 h-full columns overflow-y-auto" style="max-height: calc(100vh - calc(10rem - 24px))"
    cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)" cdkDropListGroup>
    <app-column cdkDrag *ngFor="let column of columns" [column]="column" (newItemEvent)="setSelectedCard($event)">
      <mat-icon (click)="deleteColumn(column.id)">delete</mat-icon>
    </app-column>

    <div class="flex flex-col">
      <button class="btn btn-active w-60" (click)="showCreateColumnInputHandler()" cdkDragDisabled
        *ngIf="!showCreateColumnInput; else showCreateInput">
        New column
      </button>

      <ng-template #showCreateInput>
        <input type="text" placeholder="Column name" class="input w-60 input-bordered" [formControl]="nameFormControl"
          [ngClass]="{
            'input-error': nameFormControl.touched && nameFormControl.errors
          }" />
        <label class="label" *ngIf="nameFormControl.touched && nameFormControl.errors">
          <span class="label-text-alt italic text-error">Column name is required</span>
        </label>
        <button type="button" class="btn btn-sm btn-primary mt-2" (click)="createColumn()"
          [disabled]="nameFormControl.invalid">
          Create
        </button>
      </ng-template>
    </div>
  </div>

  <input class="modal-state" id="usersModal" type="checkbox" />
  <div id="usersModal" class="modal">
    <label class="modal-overlay" for="usersModal"></label>
    <div class="modal-content w-screen h-screen">
      <label for="usersModal" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</label>
      <form method="dialog" class="modal-box">
        <h3 class="font-bold text-lg">Manage users</h3>
        <div class="py-4">
          <div class="overflow-x-auto">
            <table class="table">
              <thead>
                <tr>
                  <th>
                    <label>
                      <input type="checkbox" class="checkbox" />
                    </label>
                  </th>
                  <th>User</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of allUsers | async">
                  <th>
                    <label>
                      <input type="checkbox" class="checkbox" [checked]="
                        (members | async)!.length &&
                        (members | async)!.indexOf(user)!
                      " (change)="manageBoardUsers(user)" />
                    </label>
                  </th>
                  <td>
                    <div class="flex items-center space-x-3">
                      <div class="avatar">
                        <span>{{ getUserInitials(user.displayName) }}</span>
                      </div>
                      <div>
                        <div class="font-bold">{{ user.displayName }}</div>
                        <div class="text-sm opacity-50">{{ user.email }}</div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </form>
    </div>
  </div>

  <app-task-details [card]="selectedCard"></app-task-details>
</div>

<ng-template #loading>
  <div class="flex items-center justify-center w-full h-full">
    <span class="loading loading-spinner loading-lg"></span>
  </div>
</ng-template>