<div class="navbar navbar-glass navbar-sticky shadow-sm">
  <div class="navbar-start">
    <a class="navbar-item" routerLink="/boards">Kanbag</a>
  </div>
  <div class="navbar-end">
    <div class="avatar avatar-ring avatar-md">
      <div class="dropdown-container">
        <div class="dropdown">
          <label class="btn btn-ghost flex cursor-pointer px-0 hover:bg-inherit" tabindex="0">
            {{userInitials}}
          </label>
          <div class="dropdown-menu">
            <a class="dropdown-item text-sm" (click)="logout()">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <ng-template #showAuthButtons>
      <a class="navbar-item" routerLink="/sign-in">Sign in</a>
      <a class="navbar-item btn btn-primary" routerLink="/sign-up">Sign up</a>
    </ng-template>
  </div>