<div class="navbar sticky top-0 bg-base-100 shadow z-50">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </label>
      <!-- <ul
        tabindex="0"
        class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
      >
        <li><a>Item 1</a></li>
        <li>
          <a>Parent</a>
          <ul class="p-2">
            <li><a>Submenu 1</a></li>
            <li><a>Submenu 2</a></li>
          </ul>
        </li>
        <li><a>Item 3</a></li>
      </ul> -->
    </div>
    <a class="btn btn-ghost normal-case text-xl" routerLink="/boards">Kanbag</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <!-- <ul class="menu menu-horizontal px-1">
      <li><a>Item 1</a></li>
      <li tabindex="0">
        <details>
          <summary>Parent</summary>
          <ul class="p-2">
            <li><a>Submenu 1</a></li>
            <li><a>Submenu 2</a></li>
          </ul>
        </details>
      </li>
      <li><a>Item 3</a></li>
    </ul> -->
  </div>
  <div class="navbar-end">
    <a class="btn btn-primary" onclick="createBoardModal.showModal()"
      >Create board</a
    >
  </div>
</div>

<dialog id="createBoardModal" class="modal">
  <form method="dialog" class="modal-box">
    <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">
      ✕
    </button>
    <h3 class="font-bold text-lg">Create new board</h3>
    <form [formGroup]="boardForm">
      <div class="form-control w-full">
        <label class="label">
          <span class="label-text">Name</span>
        </label>
        <input
          type="text"
          placeholder="Board one"
          class="input input-bordered w-full"
          [ngClass]="{ 'input-error': f.name.errors && f.name.touched }"
          formControlName="name"
        />
        <label class="label" *ngIf="f.name.errors && f.name.touched">
          <span class="label-text-alt italic text-error">Name is required</span>
        </label>
      </div>

      <div class="form-control w-full">
        <label class="label">
          <span class="label-text">Description</span>
        </label>
        <textarea
          placeholder="Board one description"
          class="textarea textarea-bordered w-full"
          formControlName="description"
        ></textarea>
      </div>

      <div class="modal-action">
        <button
          class="btn btn-sm btn-primary"
          (click)="submit()"
          [disabled]="boardForm.invalid"
        >
          Create
        </button>
      </div>
    </form>
  </form>
</dialog>
