<div class="card w-60 shadow max-h-full">
  <div class="card-body p-4 hover:cursor-pointer" cdkDragHandle>
    <div class="card-header items-center justify-between" *ngIf="!showNameInput; else showNameInputElse">
      <span class="hover:cursor-pointer" (click)="showNameInputHandler()">{{
        column.name
        }}</span>
      <ng-content></ng-content>
    </div>
    <ng-template #showNameInputElse>
      <input type="text" class="input input-sm input-bordered" [formControl]="nameFormControl"
        (keydown.enter)="updateColumnName()" (keydown.escape)="showNameInputHandler()" />
    </ng-template>
  </div>

  <div class="tasks p-2 overflow-y-auto" style="min-height: 2em" cdkDropList cdkDropListOrientation="vertical"
    [cdkDropListData]="column.cards" (cdkDropListDropped)="drop($event)" [id]="column.id.toString()">
    <div class="card bg-backgroundSecondary shadow mt-2 mb-2 border-s-2 hover:cursor-pointer" cdkDrag
      *ngFor="let task of cards | async" [ngClass]="{
        'border-s-success': task.priority === 'LOW',
        'border-s-warning': task.priority === 'MEDIUM',
        'border-s-error': task.priority === 'HIGH'
      }">
      <div class="card-body p-4 truncate block" (dblclick)="setSelectedCard(task)">
        <div class="flex flex-col">
          <label class="truncate" for="modal-1" (click)="setSelectedCard(task)">{{ task.title }}</label>
          <div class="flex items-center">
            <mat-icon class="w-6 h-6 mt-2" *ngIf="task.description">
              notes
            </mat-icon>

            <div class="ml-auto" *ngIf="task.users?.length">
              <div *ngIf="task.users!.length > 3; else showAllUsers">
                <div class="avatar-group -space-x-3">
                  <div class="avatar placeholder">
                    <div class="w-6 bg-neutral-focus text-neutral-content">
                      <span class="text-xs">{{
                        getUserInitials(task.users![0].displayName)
                        }}</span>
                    </div>
                  </div>
                  <div class="avatar">
                    <span class="text-xs">
                      {{getUserInitials(task.users![1].displayName)}}
                    </span>
                  </div>
                  <div class="avatar">
                    <span class="text-xs">
                      {{getUserInitials(task.users![2].displayName)}}
                    </span>
                  </div>

                  <div class="avatar">
                    <div class="w-6 bg-neutral-focus text-neutral-content">
                      <span class="text-xs">+{{ task.users!.length - 3 }}</span>
                    </div>
                  </div>
                </div>
              </div>

              <ng-template #showAllUsers>
                <div class="avatar-group">
                  <div class="avatar" *ngFor="let user of task.users">
                    <span class="text-xs">
                      {{getUserInitials(user.displayName)}}
                    </span>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <span class="w-full text-center p-2 hover:cursor-pointer" (click)="addNewCardHandler()"
    *ngIf="!addNewCardToggle; else addNewCardForm">
    +
  </span>
  <ng-template #addNewCardForm>
    <div class="p-2">
      <input type="text" placeholder="Card name" class="input input-bordered w-full" [formControl]="cardFormControl"
        (keydown.enter)="addNewCard()" (keydown.escape)="addNewCardToggle = false" [ngClass]="{
          'input-error': cardFormControl.touched && cardFormControl.errors
        }" />
    </div>
  </ng-template>
</div>