<div class="flex flex-1 items-center justify-center w-full h-full">

  <div class="card w-96 shadow">
    <div class="card-body">
      <div class="mx-auto flex w-full max-w-sm flex-col gap-6">
        <div class="flex flex-col items-center">
          <h1 class="text-3xl font-semibold">Sign In</h1>
          <p class="text-sm">Sign in to access your account</p>
        </div>
        <form class="form-group" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-field">
            <label class="form-label">Email address</label>

            <input placeholder="Type here" type="email" class="input max-w-full" formControlName="email"
              [ngClass]="{ 'input-error': f.email.errors && f.email.touched }" />
            <label class="form-label" *ngIf="f.email.errors && f.email.touched">
              <span class="form-label-alt italic text-error" *ngIf="f.email.errors['required']; else invalidEmail">
                Email is required
              </span>
              <ng-template #invalidEmail>
                <span class="form-label-alt italic text-error">
                  Enter valid email
                </span>
              </ng-template>
            </label>
          </div>
          <div class="form-field">
            <label class="form-label">Password</label>
            <input placeholder="Type here" type="password" class="input max-w-full" formControlName="password"
              [ngClass]="{ 'input-error': f.password.errors && f.password.touched }" />
            <label class="form-label" *ngIf="f.password.errors && f.password.touched">
              <span class="form-label-alt italic text-error" *ngIf="f.password.errors['required']">
                Password is required
              </span>
            </label>
          </div>
          <div class="form-field pt-5">
            <div class="form-control justify-between">
              <button type="submit" class="btn btn-primary w-full" [disabled]="loginForm.invalid">Sign in</button>
            </div>
          </div>

          <div class="form-field">
            <div class="form-control justify-center">
              <a class="link link-underline-hover link-primary text-sm" routerLink="/sign-up">Don't have an account yet?
                Sign up.</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>